@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset some default styles */
body,
ul {
    margin: 0;
    padding: 0;
}

/* Style the top navigation bar */
.top-nav {
    background-color: #3a5c95;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Style the logo */
.logo img {
    max-height: 100%;
}

/* Style the navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 35%;
}

.nav-links li {
    font-size: 18px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

/* Style the user actions */
.user-actions {
    display: flex;
    align-items: center;
}

.user-actions ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 40px;
}

.user-actions a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* Style the search box */
.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type='text'] {
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search-button {
    height: 40px;
    width: 40px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

/* Style the left sidebar (1st section) */
.left-sidebar {
    width: 15%;
    background-color: #edeff2;
    /* Example background color */
    padding: 20px;
}

/* Style the container for right sections (2nd, 3rd, and 4th sections) */
.right-sections {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Style the above content bar (2nd section) */
.above-content-bar {
    background-color: #ccc;
    /* Example background color */
    padding: 10px 20px;
}

/* Style the main content (3rd section) */
.main-content {
    flex-grow: 1;
    padding: 20px;
}

/* Style the right sidebar (4th section) */
.right-sidebar {
    width: 15%;
    background-color: #f0f0f0;
    /* Example background color */
    padding: 20px;
}

/* Responsive design - adjust styles for smaller screens if needed */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        /* Hide links on smaller screens */
    }

    .search-box {
        flex-grow: 1;
        /* Expand the search box to fill available space */
    }

    .user-actions {
        gap: 10px;
    }

    /* Adjust widths for responsiveness, hide or stack elements as needed */
    .left-sidebar {
        width: 100%;
    }

    .above-content-bar {
        width: 100%;
    }

    .main-content {
        width: 100%;
    }

    .right-sidebar {
        width: 100%;
    }
}